
.idea/misc.xml
replay_pid82880.log
replay_pid82356.log
replay_pid80036.log
replay_pid65932.log
replay_pid14212.log
hs_err_pid82880.log
hs_err_pid82448.log
hs_err_pid82356.log
hs_err_pid80168.log
hs_err_pid80036.log
hs_err_pid65932.log
hs_err_pid41320.log
hs_err_pid14212.log
hs_err_pid13144.log
.idea/misc.xml
.idea/deploymentTargetDropDown.xml
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/7.2/fileHashes/resourceHashesCache.bin
.gradle/7.2/fileHashes/fileHashes.lock
.gradle/7.2/fileHashes/fileHashes.bin
.gradle/7.2/executionHistory/executionHistory.lock
.gradle/7.2/executionHistory/executionHistory.bin
.idea/modules/app/Terveyssovellusryhmä8.app.iml
.idea/libraries/Gradle__com_google_code_gson_gson_2_9_0.xml
.idea/deploymentTargetDropDown.xml
.gradle/checksums/sha1-checksums.bin
.gradle/checksums/md5-checksums.bin
.gradle/checksums/checksums.lock
.gradle/buildOutputCleanup/outputFiles.bin
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/7.2/fileHashes/fileHashes.lock
.gradle/7.2/fileHashes/fileHashes.bin
.gradle/7.2/executionHistory/executionHistory.lock
.gradle/7.2/executionHistory/executionHistory.bin
.idea/modules/app/Terveyssovellusryhmä8.app.iml
.idea/libraries/Gradle__com_google_code_gson_gson_2_9_0.xml
.idea/deploymentTargetDropDown.xml
.gradle/checksums/checksums.lock
.gradle/buildOutputCleanup/outputFiles.bin
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/7.2/fileHashes/fileHashes.lock
.gradle/7.2/fileHashes/fileHashes.bin
.gradle/7.2/executionHistory/executionHistory.lock
.gradle/7.2/executionHistory/executionHistory.bin
.vscode/settings.json
.idea/render.experimental.xml
.idea/modules/app/Terveyssovellusryhmä8.app.iml
.idea/misc.xml
.idea/libraries/Gradle__org_opentest4j_opentest4j_1_2_0.xml
.idea/libraries/Gradle__org_junit_platform_junit_platform_commons_1_7_2.xml
.idea/libraries/Gradle__org_junit_jupiter_junit_jupiter_params_5_7_2.xml
.idea/libraries/Gradle__org_junit_jupiter_junit_jupiter_api_5_7_2.xml
.idea/libraries/Gradle__org_junit_jupiter_junit_jupiter_5_7_2.xml
.idea/libraries/Gradle__org_apiguardian_apiguardian_api_1_1_0.xml
.idea/libraries/Gradle__junit_junit_4_12.xml
.idea/deploymentTargetDropDown.xml
.idea/assetWizardSettings.xml
.gradle/checksums/checksums.lock
.gradle/buildOutputCleanup/outputFiles.bin
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/7.2/fileHashes/resourceHashesCache.bin
.gradle/7.2/fileHashes/fileHashes.lock
.gradle/7.2/fileHashes/fileHashes.bin
.gradle/7.2/executionHistory/executionHistory.lock
.gradle/7.2/executionHistory/executionHistory.bin
