
.idea/misc.xml
replay_pid82880.log
replay_pid82356.log
replay_pid80036.log
replay_pid65932.log
replay_pid14212.log
hs_err_pid82880.log
hs_err_pid82448.log
hs_err_pid82356.log
hs_err_pid80168.log
hs_err_pid80036.log
hs_err_pid65932.log
hs_err_pid41320.log
hs_err_pid14212.log
hs_err_pid13144.log
.idea/misc.xml
.idea/deploymentTargetDropDown.xml
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/7.2/fileHashes/resourceHashesCache.bin
.gradle/7.2/fileHashes/fileHashes.lock
.gradle/7.2/fileHashes/fileHashes.bin
.gradle/7.2/executionHistory/executionHistory.lock
.gradle/7.2/executionHistory/executionHistory.bin
